.header-search {
  position: relative;
}

.header-search--bar {
  height: 2.5em;
  width: 50em;
  padding: 1.2em;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  color: var(--dark-grey);
}

.header-search--bar::placeholder {
  color: var(--medium-grey);
}

.header-search--clickable-img {
  position: absolute;
  cursor: pointer;
  height: 2em;
  right: 0.5em;
  top: 0.3em;
  transform: scale(1);
  transition-duration: 0.3s;
  transition-property: transform;
  
  &:hover {
   transform: scale(1.1);
  }
}

.search-suggestions-container {
  position: absolute;
  width: 100%;
  max-height: 20em;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 3px var(--dark-grey);
  z-index: 1;
  overflow-y: auto;
}

.search-suggestions-list {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

.search-suggestions-list-item {
  border-top: 0.5px solid var(--light-grey);
  padding: 0.8em;
  font-size: var(--regular-font-size);
  cursor: pointer;
}