.carousel {
  position: relative;
  height: 30em;
  border: 1px solid var(--light-grey);
  background-color: var(--dark-grey);
  margin-top: 4em;
}

.carousel-image-container {
  width: 100%;
  height: 95%; 
  object-fit: contain;
}

.carousel-arrow {
  position: absolute;
  top: 12em;
  border: 0;
  background-size: 3.5em;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 3.5em;
  width: 3.5em;
  height: 4.5em;
  width: 4.5em;
  cursor: pointer;

  &.right {
    right: 0;
    background-image: url('http://localhost:3001/images/right_arrow.svg');
  }

  &.left { 
    left: 0;
    background-image: url('http://localhost:3001/images/left_arrow.svg');
  }
}

.carousel-controls {
  position: absolute;
  bottom: 0;
  left: 51em;
}

.carousel-control-list {
  display: flex;
  gap: 0.5em;
  list-style-type: none;
}

.carousel-control {
  height: 0.8em;
  width: 0.8em;
  border: 1px solid var(--light-grey);
  background-color: transparent;
  border-radius: 100%;

  &.active {
    background-color: var(--light-grey);
  }
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}