.nav-bar {
  background-color: var(--light-grey);
}

.nav-link-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-link-list .nav-link {
  list-style-type: none;
  font-size: var(--small-font-size);

  &.cta a {
    color: var(--light-red);  
  }

  &.active a {
    font-weight: var(--bold-font-weight);
    text-decoration: underline;  
  }
}

.nav-link-list .nav-link a {
  text-decoration: none;
  color: var(--dark-grey);

  &:hover {
    font-weight: var(--bold-font-weight);
  }
}
