:root {
  /* FONT STYLES */
  --small-font-size: 0.5em;
  --regular-font-size: 1em;
  --medium-font-size: 1.2em;
  --large-font-size: 2.2em;

  --body-font: Arial, Helvetica, sans-serif;

  --light-font-weight: 100;
  --regular-font-weight: 200;
  --medium-font-weight: 400;
  --bold-font-weight: 700;

  /* COLORS */
  --body-text-color: #313457;
  --accent-text-color: #adafb4;
}