:root {
  /* FONT STYLES */
  --small-font-size: 0.8em;
  --regular-font-size: 1em;
  --medium-font-size: 1.2em;
  --large-font-size: 1.5em;
  --extra-large-font-size: 2em;

  --body-font: Arial, Helvetica, sans-serif;
  --decorative-font: 'Oleo Script', cursive;

  --light-font-weight: 100;
  --regular-font-weight: 200;
  --medium-font-weight: 400;
  --bold-font-weight: 700;

  /* COLORS */
  --black-grey: #5c5c64;
  --dark-grey: #8b8c99;
  --light-grey: #e3e5ea;
  --medium-grey: #adafb4;
  --light-red: rgb(234, 117, 117);
  --white-grey: #f3f3f3;
  --light-blue-grey: #d3e6eb;
  --dark-blue-grey: #b2dce7;
}